/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PALETTE  

azzurro header: #add8e6;
giallo barra menu: #daa520;
blu sfondo jumbotron: #00008b;
contenitore jumbotron: #ee82ee;
azzurro sezioni: #1e90ff;
rosa sezioni: #ffc0cb;
grigio sfondo sezioni: #ffc0cb;
verde sezione: #228b22;
nero sfondo footer: #228b22;
rosa colonna grande footer: #228b22;
verdeacqua colonna footer: #20b2aa;
azzurro container footer: #20b2aa;
rosa bottoni footer: #ffb6c1;

*/


/* HEADER */

.container{
    margin: 0 auto;
    padding: 15px;
}

.menu{
    max-width: 70%;
    margin: 0 auto;
    display: flex;
}

.small-column, .big-column{
    padding: 5px 10px;
}

.small-column{
    width: 25%;
}

.big-column{
    width: 50%;
    text-align: center;
}

li{
    list-style: none;
    display: inline;
}

a{
    text-decoration: none;
    color: black;
}

.small-column:last-child{
    text-align: right;
}

.header-bottom > .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron {
    max-width: 60%;
}


/* MAIN */


/* FOOTER */







/* DEBUG */

.debug header{
    background-color: #add8e6;
    min-height: 500px;
}

.debug .menu{
    background-color: #daa520;
}

.debug .small-column, .debug .big-column{
    border: 1px dashed black;
}

.debug .header-bottom > .container {
    background-color: #00008b;
    min-height: 430px;
}

.debug .jumbotron{
    background-color: #ee82ee;
    min-height: 300px;
    min-width: 800px;
    border: 1px dashed black;
}









